/* -------------------------------
All styles for leaderboard 
---------------------------------*/
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}

/* -------------------------
All styles for top-player 
--------------------------*/
.top-player-section{
    Width:870px;
    Height:679px;
    background: #FFFFFF;
    border-radius: 5px;
}
.top-player{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.player-image{
    display: flex;
}

.player-image img{
    Width:56px;
    Height:56px;

}